.main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    #banniere{
        margin-left: auto;
        margin-right: auto;
    }
    &__imgBandeau {
        border-radius: 25px;
    }
/*     #hebergements{

    } */
    #box{
        margin-top: 43px;
        width: 1240px;
        height: 829px;
        margin-right: auto;
        margin-left: auto;
    }
    &__background {
        width: 1240px;
        height: 829px;
        background-color: #f6f6f6;
        border-radius: 25px;
    }

    &__cards-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 50px;
        padding-top: 56px;
        padding-left: 50px;
        padding-bottom: 43px;
    }
      
    &__card {
        width: 340px;
        height: 340px; 
        background-color: #ff5f5f;
        border-radius: 10px;
    }
      
    &__banner {

        position: relative;
      
    }
      
    &__imgBandeau {
        width: 100%;
        display: block;
    }
      
    &__banner-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      
        color: #FFF;
        font-family: Montserrat;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 68.448px;
    }
}